body {
  background-color: #2b2c3a;
}

button {
  border: none;
}

.myContainer {
  max-width: 1440px;
  margin: 0 auto;

  &_forHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.myLink {
  text-decoration: none;
}

.grayCustomText {
  font: 14px/10px Jost;
  color: #fff;
  opacity: 0.5;
}
.purpleButton {
  font: 12px/17px Jost;
  color: #fff;
  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 4px;
}
.sliderMove {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-left: 5px;
  background-color: unset;
  background-image: url(../img/lessons/left_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.62);
  }

  &:last-of-type {
    background-image: url(../img/lessons/right_arrow.svg);
  }
}
.wrapper {
  display: flex;

  &__element {
    width: calc(100vw - 278px);
  }
}

.leftbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100vh;
  background: rgba(156, 165, 236, 0.04);
  &__logo {
    display: block;
    max-width: 138px;
    margin: 30px 110px 14px 30px;

    & > h3 {
      font: bold 22.1818px/1 Jost;
      color: #fff;
    }
  }

  &__miniLogos {
    display: flex;
    justify-content: space-between;
    font: 500 10.7331px/16px Jost;
    color: #fff;
  }

  &__accordion {
    border-top: 1px solid rgba(216, 216, 216, 0.1);
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    padding: 20px 0 15px;

    & .accordion-body {
      padding: 0;
    }

    & .accordion-item,
    button.accordion-button {
      background: unset;
      border-radius: 0;
      font: 14px/20px Jost;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      border: none;
    }

    & button.accordion-button {
      padding: 10px 30px;
      transition: opacity 0.1s, background-color 0.1s;

      &:hover {
        opacity: 1;
        color: #fff;
        background-color: #353747;
      }

      &:focus,
      &:not(.collapsed) {
        box-shadow: unset;
      }

      &::after {
        background-image: url(../img/leftbar/arrow.svg);
        width: 10px;
        height: 6px;
        background-size: unset;
      }
    }
  }

  &_forAdaptive {
    display: none;
  }
}

.lections {
  &__item {
    display: block;
  }

  &__link {
    display: block;
    position: relative;
    padding: 15px 90px;
    transition: opacity 0.1s, background-color 0.1s;

    &:hover {
      opacity: 1;
      color: #fff;
      background-color: #353747;
    }

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
    }

    &_htmlCss::before {
      background-image: url(../img/leftbar/lections/html_css.svg);
      left: 50px;
      top: 11px;
    }

    &_git::before {
      background-image: url(../img/leftbar/lections/git.svg);
      left: 53px;
      top: 11px;
    }

    &_js::before {
      background-image: url(../img/leftbar/lections/js.svg);
      left: 52px;
      top: 11px;
    }

    &_react::before {
      background-image: url(../img/leftbar/lections/react.svg);
      left: 53px;
      top: 11px;
    }

    &_angular::before {
      background-image: url(../img/leftbar/lections/angular.svg);
      left: 51px;
      top: 11px;
    }

    &_data::before {
      background-image: url(../img/leftbar/lections/data.svg);
      left: 51px;
      top: 11px;
    }

    &_active {
      opacity: 1;
      box-shadow: inset 9px 0px 10px -12px #6f6eff;
      background-color: #353747;
    }
  }
}

.burgerMenu {
  display: none;
}
.navMenu {
  background-color: rgba(156, 165, 236, 0.04);
  width: 280px;
  height: 810px;
}
.header {
  background-color: #2b2c3a;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  padding: 0 45px;
  position: sticky;
  top: 0;
  z-index: 5;

  &__nav {
    display: flex;
    list-style-type: none;
    width: 245px;
    justify-content: space-between;
  }

  &__navItem:last-of-type {
    border-right: 1px solid rgba(216, 216, 216, 0.1);
    padding-right: 28px;
  }

  &__navLink {
    opacity: 0.6;
    transition: opacity 0.1s, color 0.1s;
    &:hover {
      opacity: 1;
      color: #fff;
    }
  }
}
.account {
  display: flex;

  &__buttonGroup {
    display: flex;
    align-items: center;
  }
  &__progressValue {
    font: 13px/10px Jost;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    padding: 7px 10px;
    margin-right: 15px;
    transition: box-shadow 0.2s;
    &_hours {
      font: 11px/10px Jost;
      opacity: 0.6;
      margin-left: 4px;
    }

    &_withIcon {
      border-radius: 5px;
      padding: 3px 9px 3px 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.4);
    }
  }
  &Info {
    display: flex;
    padding: 14px 0;

    &__online {
      padding: 8px 15px;
    }

    &__status {
      display: flex;
      margin: 9px 5px;
      font: 600 13px/10px Jost;
      color: #24cb8d;

      & > img {
        margin-right: 5px;
      }
    }

    &__name {
      font: 14px/10px Jost;
      color: #fff;
    }

    &__level {
      align-self: start;
      margin-top: 8px;
      font: 11px/10px Jost;
      padding: 2px 11px 2px 8px;
    }
  }
}

.redLightning {
  background: #ff4738;
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
  width: 18px;
  height: 18px;
  padding: 3px 6px;
  margin-right: 10px;
}

.form-switch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 30px;
  & .form-check-label {
    cursor: pointer;
    transition: opacity 0.1s;

    &:hover {
      opacity: 1;
    }
  }
  & .form-check-input {
    width: 42px;
    height: 22px;
    float: unset;
    cursor: pointer;
  }
  & .form-check-input,
  & .form-check-input:focus {
    background-image: url(../img/leftbar/checkbox_disabled.svg);
    background-position: 3px;
    background-size: 14px;
    background-color: unset;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: unset;
  }

  & .form-check-input:checked,
  .form-check-input:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  & .form-check-input:hover + .form-check-label {
    opacity: 1;
  }

  & .form-check-input:checked {
    background-position: 22px;
    background-image: url(../img/leftbar/checkbox.svg);
  }
}

.course {
  padding: 3% 4% 0;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__desc {
    display: block;
    font: 22px/18px Jost;
    font-family: Jost;
    font-size: 22px;
    line-height: 18px;
    color: #fff;
    &_lvl {
      font: 11px/16px Jost;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.4;
      margin-bottom: 7px;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__lections {
    padding: 7px 12px;
    margin-right: 5px;
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(107, 105, 249, 0.62);
      color: #fff;
    }
  }
}
.courseContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lectionCard {
  background-color: rgba(255, 255, 255, 0.04);
  width: fit-content;
  border-radius: 6px;
  position: relative;
  margin-bottom: 40px;

  &__type {
    padding: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  &__desc {
    padding: 15px;
  }

  &__text {
    padding-bottom: 0;
  }
  &__title {
    font: 16px/12px Jost;
    color: #fff;
    margin-bottom: 10px;
  }

  &__topic {
    line-height: 18px;
    max-width: 216px;
    min-height: 51px;
  }

  &__horizontalLine {
    background: #d8d8d8;
    opacity: 0.1;
    height: 1px;
    width: 100%;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font: 13px/10px Jost;
    color: #fff;
  }

  &__link {
    padding: 6px 21px;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(107, 105, 249, 0.62);
      color: #fff;
    }
  }
}

.invisible {
  display: none;
}
@media screen and (max-width: 1139px) {
  .header {
    &__nav {
      flex-direction: column;
      width: fit-content;

      &Item {
        margin: 5px 0;
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }

  .account {
    position: relative;

    &__buttonGroup {
      position: absolute;
      top: 85%;
      right: 13%;
      background-color: #2b2c3a;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 7px;
      flex-direction: column;
      padding: 30px 10px 10px;
      min-height: 130px;
      justify-content: space-between;
      transition: right 0.5s;
    }
    &__progressValue {
      width: 100%;
      margin: 0 auto;
    }

    &Info__level {
      position: absolute;
      top: 85%;
      right: 39%;
      transition: right 0.5s;
    }
  }
}

@media screen and (max-width: 850px) {
  .wrapper__element {
    width: 100%;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    &__text {
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  .leftbar {
    display: none;
  }
  .course {
    &__header {
      flex-direction: column;
    }

    &__navigation {
      justify-content: space-between;
      margin-top: 30px;
    }
  }
  .showMenu {
    display: block;
    position: absolute;
    z-index: 7;
    background-color: #2b2c3a;
    top: 83px;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.09);
    height: unset;
    border-top: none;
    width: 278px;
  }

  .form-check.form-switch {
    margin-top: 20px;
  }
}

@media screen and (max-width: 585px) {
  .header {
    padding: 0 0 0 2%;

    &__navItem:last-of-type {
      padding-right: 0;
    }
  }
  .leftbar__accordion {
    padding: 0;
    border-top: none;
  }

  .form-check.form-switch {
    margin: 10px 0;
  }
  .course {
    &Content {
      flex-direction: column;
      align-items: center;
    }

    &__desc {
      text-align: center;
    }

    &__navigation {
      justify-content: center;
    }
  }
}
