body {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%), #2b2c3a;
}

button {
  border: none;
}

.myContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.myContainer_forHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myLink {
  text-decoration: none;
}

.myLink:hover {
  color: inherit;
}

.grayLink14 {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.grayLink14:hover {
  opacity: 1;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper__element {
  width: 100%;
}

main {
  height: 2000px;
}

.leftbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  background: rgba(156, 165, 236, 0.04);
}

.leftbar__logo {
  display: block;
  max-width: 138px;
  margin: 30px 110px 14px 30px;
}

.leftbar__logo > h3 {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 22.1818px;
  color: #fff;
}

.leftbar__miniLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 10.7331px;
  line-height: 16px;
  color: #fff;
}

.leftbar__accordion {
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  padding: 20px 0 15px;
}

.leftbar__accordion .accordion-body {
  padding: 0;
}

.leftbar__accordion .accordion-item,
.leftbar__accordion button.accordion-button {
  background: unset;
  border-radius: 0;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.leftbar__accordion button.accordion-button {
  padding: 10px 30px;
}

.leftbar__accordion button.accordion-button:focus, .leftbar__accordion button.accordion-button:not(.collapsed) {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.leftbar__accordion button.accordion-button::after {
  background-image: url(../img/leftbar/arrow.svg);
  width: 10px;
  height: 6px;
  background-size: unset;
}

.lections__item {
  display: block;
}

.lections__link {
  display: block;
  position: relative;
  padding: 15px 90px;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
}

.lections__link:hover {
  opacity: 1;
  background-color: #353747;
}

.lections__link::before {
  content: "";
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

.lections__link_htmlCss::before {
  background-image: url(../img/leftbar/lections/html_css.svg);
  left: 50px;
  top: 11px;
}

.lections__link_git::before {
  background-image: url(../img/leftbar/lections/git.svg);
  left: 53px;
  top: 11px;
}

.lections__link_js::before {
  background-image: url(../img/leftbar/lections/js.svg);
  left: 52px;
  top: 11px;
}

.lections__link_react::before {
  background-image: url(../img/leftbar/lections/react.svg);
  left: 53px;
  top: 11px;
}

.lections__link_angular::before {
  background-image: url(../img/leftbar/lections/angular.svg);
  left: 51px;
  top: 11px;
}

.lections__link_data::before {
  background-image: url(../img/leftbar/lections/data.svg);
  left: 51px;
  top: 11px;
}

.lections__link_active {
  opacity: 1;
  -webkit-box-shadow: inset 9px 0px 10px -12px #6f6eff;
          box-shadow: inset 9px 0px 10px -12px #6f6eff;
  background-color: #353747;
}

.navMenu {
  background-color: rgba(156, 165, 236, 0.04);
  width: 280px;
  height: 810px;
}

.header {
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  padding: 0 45px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 245px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navItem:last-of-type {
  border-right: 1px solid rgba(216, 216, 216, 0.6);
  padding-right: 28px;
}

.header__navLink {
  opacity: 0.6;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account__progressValue {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 15px;
}

.account__progressValue_hours {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  opacity: 0.6;
  margin-left: 4px;
}

.account__progressValue_withIcon {
  border-radius: 5px;
  padding: 3px 9px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accountInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
}

.accountInfo__online {
  padding: 8px 15px;
}

.accountInfo__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 9px 5px;
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 10px;
  /* identical to box height, or 77% */
  color: #24cb8d;
}

.accountInfo__status > img {
  margin-right: 5px;
}

.accountInfo__name {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  color: #fff;
}

.accountInfo__level {
  background: -webkit-gradient(linear, left top, right top, from(#6b69f9), to(#6f6eff));
  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 4px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 8px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  color: #fff;
  padding: 2px 11px 2px 8px;
}

.redLightning {
  background: #ff4738;
  -webkit-box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
          box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
  width: 18px;
  height: 18px;
  padding: 3px 6px;
  margin-right: 10px;
}

.form-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 30px;
}

.form-switch .form-check-label {
  cursor: pointer;
}

.form-switch .form-check-input {
  width: 42px;
  height: 22px;
  float: unset;
  cursor: pointer;
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus {
  background-image: url(../img/leftbar/checkbox_disabled.svg);
  background-position: 3px;
  background-size: 16px;
  background-color: unset;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form-switch .form-check-input:checked {
  background-position: 21px;
  background-image: url(../img/leftbar/checkbox.svg);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=style.css.map */